@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    background:  #fafafa;
    height: 100vh;
    max-width: 1400px;
}

header {
    background: #fff;
    height: 8vh;
}

#container-div {
    display: flex;
    max-width: 1000px;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    height: 100%;
}

ul {
    display: flex
}

li {
    margin: 0 10px;
    list-style: none;
}

h1 {
    font-family: 'Nanum Myeongjo';
    font-size: 26px;
}

main {
    max-width: 1000px;
    margin: 40px auto;   
    display: flex;
    justify-content: space-between;
}

#div1 {
    width: 700px;
    background: white;
}

#div1 p {
    text-align: initial;
    font-size: 18px;
    max-width: 95%;
    margin: 15px;
}

#div1 #container-video {
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

#div1 #container-video video {
    max-width: 95%;
}

#div2 {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

#div2 img {
    width: 95px;
    margin: 5px;
}

#div2 img#first-image {
    width: 150px;
}